<head>
  <title>Meteor Nordic Meetup | October 15</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="Get to know the Nordic Meteor community, meetups in the Nordic region get together for a Google Hangout on Air.">
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-55489802-1', 'auto');
    ga('require', 'linkid', 'linkid.js', 'displayfeatures');
    ga('send', 'pageview');
  </script>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,900,700,100,300,500' rel='stylesheet' type='text/css'>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=visualization&key=AIzaSyBlUWNrvl8HBj79edhMDIFpKZ5fFMXC4yM"></script>
</head>
