@import "elements.less";

@black: rgb(1, 1, 1);
@dark: lighten(rgb(13, 13, 13), 5%);

@white: rgb(255, 255, 255);
@light: darken(@white, 10%);

@lightyellow: #fffabe;
@yellow: #fff194;
@darkyellow: #ffd33f;

@link-color: #6eeea4;
@link-color-dark: darken(@link-color, 5%);

@primary-color: #113249;
@primary-color-dark: darken(@primary-color, 5%);


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  height: 100%;
  color: darken(@light, 30%);
  background: @black;
}

.no-touch {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
}

.text-body {
  font-size: 16px;
  line-height: 24px;
}

h1,
h2,
h3,
p,
ul,
li,
dl,
dd {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

img {
  width: inherit;
  max-width: 100%;
  height: auto;
}

a:link {
  color: @link-color;
}

a:visited {
  color: @link-color-dark;
}

.no-touch a:link:hover {
  color: lighten(@link-color, 10%);
}

.no-touch a:visited:hover {
  color: lighten(@link-color-dark, 10%);
}

a > img {
  border: 0;
}

h1,
h2,
h3 {
  color: @white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

h1 {
  font-size: 36px;
  margin-bottom: 30px;
}

h2 {
  font-size: 28px;
  max-width: 700px;
  text-transform: none;
  color: darken(@white, 40%);
  margin: 0 auto 30px;
}

h3 {
  font-size: 18px;
  font-weight: 400;
  max-width: 600px;
  margin: 0 auto 20px;
}

strong {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

p {
  padding-bottom: 15px;
}

code {
  font-family: 'Roboto', sans-serif;
  white-space: normal;
}

pre {
  margin: 0 0 14px;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.tl {
  text-align: left;
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

.cols p strong {
  display: block;
  font-size: 18px;
  font-weight: 700;
  margin: 4px 0;
}

.cols .block {
  display: inline-block;
  margin: 0 0 20px;
  font-size: 16px;
  color: darken(@light, 10%);
}

header a:link,
header a:visited {
  border-bottom: 2px solid transparent;
  padding-bottom: 2px;
  transition: border-bottom-color 0.3s ease-out 0;
}

header a:link,
header a:visited {
  color: @white;
  text-decoration: none;
}

header a:link,
header a:visited {
  text-transform: uppercase;
}

header .active a,
header .active a:active,
.no-touch header .active a:hover,
.no-touch header a:link:hover,
.no-touch header a:visited:hover {
  border-bottom-color: @white;
  color: @white;
}

header a:active,
footer.red a:active {
  color: darken(@white, 10%);
}

header {
  height: 100px;
  line-height: 100px;
  padding: 0 40px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 8;
  background: fadeout(@black, 80%);
  box-sizing: border-box;
}

header .logo {
  float: left;
  display: block;
  line-height: 0;
}

header .site-logo {
  padding: 24px 0 26px;
  margin: 0 40px 0 0;
  border: none !important;
}

header .logo img {
  height: 50px;
}

header img,
header nav,
header ul,
header ul li,
header .collapse {
  display: inline;
  float: left;
}

header ul li {
  margin-right: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
}

header button {
  float: right;
  display: none;
}

.mobile header .desktop-nav {
  display: none;
}

.desktop header .mobile-nav {
  display: none;
}

.mobile-nav {
  clear: left;
  margin: 0 -40px;
  position: relative;
}

.nav-visible .mobile-nav {
  background: fadeout(@black, 5%);
}

.mobile-nav .region {
  display: block;
  overflow: hidden;
  opacity: 1;
  .transition(opacity 0.25s ease-in-out);
}

body:not(.nav-visible) .mobile-nav .region {
  height: 0 !important;
  opacity: 0;
}

.mobile-nav ul {
  display: block;
  float: none;
}

.mobile-nav ul li {
  display: block;
  border-top: solid 1px fadeout(lighten(@black, 10%), 5%);
  margin: 0;
  float: none;
}

.no-touch .mobile-nav ul li a:hover,
.mobile-nav ul li.active,
.mobile-nav ul li.active a:active,
.no-touch .mobile-nav ul li.active a:hover {
  background: lighten(@black, 10%);
  color: white;
}

.mobile-nav ul li a:active,
.no-touch .mobile-nav ul li a:hover {
  background: fadeout(@white, 75%);
  color: white;
}

.mobile-nav ul li a:link,
.mobile-nav ul li a:visited,
.no-touch .mobile-nav ul li a:hover,
.mobile-nav ul li a:active,
.mobile-nav ul li.active a {
  border: none;
  transition: none;
}

.mobile-nav ul li a:link,
.mobile-nav ul li a:visited {
  display: block;
  width: 100%;
  padding: 10px 40px;
  line-height: 42px;
  height: 100%;
}

.nav-button {
  position: absolute;
  top: 9px;
  right: 30px;
  padding: 20px;
  height: 42px;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 100px;
  cursor: pointer;
  color: white;
}

.desktop .nav-button {
  display: none;
}

.nav-button p {
  margin: 0 12px 0 0;
  float: left;
  padding: 0;
  line-height: 44px;
}

.nav-button .stripes {
  margin: 11px 0;
  float: left;
  display: block;
  width: 24px;
  height: 20px;
  position: relative;
}

.nav-button .stripes span {
  background: rgb(255, 255, 255);
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  position: absolute;
  opacity: 1;
}

.nav-button .stripes span.stripe1 {
  top: 0px;
}

.nav-button .stripes span.stripe2 {
  top: 8px;
}

.nav-button .stripes span.stripe3 {
  top: 16px;
}

.nav-visible .nav-button .stripes span.stripe1 {
  left: 0;
  top: 8px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
}

.nav-visible .nav-button .stripes span.stripe2 {
  opacity: 0;
}

.nav-visible .nav-button .stripes span.stripe3 {
  left: 0;
  top: 8px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
}

.main,
.main .container,
.main .container .left {
  height: 100%;
}

.frame {
  overflow: hidden;
}

.frame .main .container {
  padding-top: 100px;
  box-sizing: border-box;
}

.main .container {
  opacity: 0;
}

.ready .main .container {
  opacity: 1;
  transition: opacity 0.15s ease-out 0;
}

.left {
  float: right;
  padding-right: 50%;
  width: 50%;
}

.left .container {
  padding: 140px 40px 0;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.page-row {
  display: table-row;
  height: 1px;
}

.page-row-expanded { height: 100%; }

.right {
  height: 100%;
  position: fixed;
  top: 100px;
  right: 0;
  overflow: hidden;
  width: 50%;
  padding-bottom: 100px;
  z-index: 9;
  box-sizing: border-box;
}

.reverse .left {
  float: left;
  padding-right: 0;
  padding-left: 50%;
}

.reverse .right {
  right: auto;
  left: 0;
}

.show-mobile {
  display: none;
}

.hide-mobile {
  display: block;
}

#map_canvas {
  height: 100%;
  position: relative;

  img {
    max-width: none;
  }

  h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
  }
}

.cols {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
  -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
  -moz-column-gap: 40px; /* Firefox */
  column-gap: 40px;
  margin: 20px 0 0;
}

.image {
  position: relative;
  max-height: 500px;
}

.image-background {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-position: bottom center;
  background-size: cover;
}

.top-banner {
  max-height: 300px;
}

.top-banner h1 {
  position: absolute;
  z-index: 1;
  top: 50%;
  width: 100%;
  margin-top: -40px;
  font-size: 80px;
  line-height: 80px;
  font-weight: 200;
}

.top-banner .company {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin-bottom: 60px;
  font-size: 18px;
  z-index: 1;
  text-align: center;
}

.speakers h2 {
  margin-bottom: 0;
}

.speakers .company {
  text-align: center;
}

.company span,
.company a {
  text-decoration: none;
  color: white;
  padding: 8px 16px;
  border: solid 1px fadeout(@white, 30%);
  background: fadeout(@white, 90%);
  .border-radius(20px, 20px, 20px, 20px);
  .transition(all 0.15s ease-out 0);
}

.speakers .company span {
  font-size: 10px;
  padding: 4px 8px;
  line-height: 40px;
}

.no-touch .company a:hover {
  border-color: fadeout(@white, 5%);
  background: fadeout(@white, 85%);
  color: @white;
}

.company a:active {
  border-color: fadeout(@white, 70%);
  background: fadeout(@black, 40%);
  color: darken(@white, 40%);
  .transition(all 0.05s ease-out 0);
}

.reponsive-size-adjust {
  height: 100px;
  padding-bottom: 70%;
}

.front .article {
  height: 150px;
}

footer.dark {
  margin: 0 -40px;
  background: darken(@dark, 5%);
  color: @white;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
}

footer .inner {
  padding: 50px 0;
  text-align: center;
}

footer dl {
  padding-left: 10px;
  max-width: 600px;
  margin: 0 auto;
}

footer dd {
  display: inline;
  margin-right: 20px;
  line-height: 2;
  white-space: nowrap;
}

.speakers,
.sponsors,
.profiles {
  display: block;
  margin-top: 10px;
  margin-bottom: -20px;
}

.speaker,
.sponsor,
.profile {
  display: inline-block;
}

.speakers a:link,
.speakers a:visited,
.sponsors a:link,
.sponsors a:visited,
.profiles a:link,
.profiles a:visited {
  text-decoration: none;
}

.speakers .picture,
.speaker,
.sponsor {
  vertical-align: top;
}

.speakers .picture img,
img.profile,
.speaker img,
.sponsor img {
  width: 75%;
  height: auto;
  display: block;
  margin: 0 auto;
  border: solid 3px transparent;
  margin-bottom: 2px;
  .border-radius(50%, 50%, 50%, 50%);
  .transition(border-color 0.2s ease-out 0);
}

.speakers .picture img {
  width: 50%;
}

img.profile {
  width: 104px;
}

.profile img {
  width: auto;
  height: 50px;
  display: inline;
  border: solid 2px transparent;
  margin-bottom: 3px;
  .border-radius(50%, 50%, 50%, 50%);
  .transition(border-color 0.2s ease-out 0);
}

.speaker span,
.sponsor span,
.profile span {
  color: lighten(@dark, 10%);
  display: block;
  .transition(color 0.2s ease-out 0);
}

.sponsor .name {
  font-size: 16px;
}

.speaker .name {
  font-size: 18px;
  color: darken(@white, 10%);
}

.speaker .company,
.speaker .twitter {
  color: darken(@white, 40%);
}

.profile .name {
  color: lighten(@dark, 20%);
}

.sponsor .name {
  color: lighten(@dark, 5%);
}

.speaker .speaker-inner,
.sponsor .sponsor-inner,
.profile .profile-inner {
  display: block;
  margin-bottom: 20px;
  width: 160px;
}

.sponsor .sponsor-inner,
.profile .profile-inner {
  width: 120px;
}

.no-touch .speakers a:hover,
.no-touch .sponsors a:hover,
.no-touch .profiles a:hover {
  text-decoration: none;
  color: @white;
}

.no-touch .speakers .article:hover .picture img {
  border-color: @white;
}

.no-touch .speakers a:hover img,
.no-touch .sponsors a:hover img,
.no-touch .profiles a:hover img {
  border-color: white;
}

.no-touch .speakers a:hover .name,
.no-touch .sponsors a:hover .name,
.no-touch .profiles a:hover .name {
  color: @white;
}

.no-touch .profiles a:hover .twitter {
  color: darken(@white, 30%);
}

.no-touch .speakers a:hover .twitter,
.no-touch .speakers a:hover .company {
  color: darken(@white, 10%);
}

// .page-row footer .inner {
//   max-width: none;
// }

.countdown {
  text-align: center;
}

.countdown-item {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  display: inline-block;
  width: 20%;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  margin: 10px 5px;
}

.countdown-caption {
  text-align: center;
  font-size: 18px;
  display: block;
  text-transform: uppercase;
}

.countdown-value {
  display: block;
  text-align: center;
  font-size: 90px;
  font-weight: 100;
  height: 100px;
  line-height: 100px;
}

.countdown-live {
  width: auto;
}

.countdown-live a {
  text-decoration: none;
}

.table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
  margin: 5px 0 20px;
}

.table th {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  .gradient(@dark, @black, @dark);
  padding: 10px 15px;
  border-bottom: solid 2px lighten(@dark, 10%);
}

.table td {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 22px;
  background: @dark;
  border-top: solid 2px lighten(@dark, 10%);
  padding: 8px 15px;
}

table .tiny {
  width: 6%;
  min-width: 30px;
}

table .small {
  width: 10%;
  min-width: 56px;
}

table .medium {
  width: 20%;
  min-width: 130px;
}

.infospans {
  .transition(color 0.15s ease-out 0);
  color: @white;
  cursor: default;
}

.infospans a {
  text-decoration: none;
  color: @white;
}

.no-touch tr:hover .infospans {
  color: darken(@white, 50%);
}

.no-touch .infospans:hover span:hover a {
  color: @white;
}

.articles article {
  width: 50%;
  float: left;
}

.articles .promotion,
.articles .article {
  margin: 0 10px 20px;
  border: solid 3px @dark;
  padding: 20px;
  font-size: 13px;
  .border-radius(5px, 5px, 5px, 5px);
}

.article h2 {
  font-size: 30px;
}

.article h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.article img {
  margin-bottom: 18px;
}

.article p {
  font-size: 16px;
  margin-bottom: 10px;
}

.article h2,
.article h3 {
  text-align: left;
}

.articles .promotion h2,
.articles .promotion h3 {
  text-align: center;
}

.article.super {
  background: @dark;
  border-color: lighten(@primary-color-dark, 10%);
  color: @white;
  .border-radius(5px, 5px, 5px, 5px);
}

.article.super a {
  display: block;
  width: 100%;
  color: @white;
  text-decoration: none;
}

.article.super a:link,
.article.super a:visited {
  color: @white;
}

.article.super h2 {
  font-size: 80px;
  margin: 0;
  text-align: center;
}

.article.super h3 {
  font-size: 24px;
  text-align: center;
}

.article .map {
  background-position: center center;
  background-size: cover;
  .border-radius(3px, 3px, 3px, 3px);
  height: 100%;
  margin: -20px;
}

.article .map a {
  width: 100%;
  height: 100%;
}

.inner .front p {
  font-size: 18px;
  margin: 22px 0;
}

article {
  position: relative;
}

article .call-to-action {
  position: static;
  z-index: 9;
  width: auto;
  bottom: 0;
  left: 0;
  margin: -78px 10px 20px;
}

article .call-to-action a {
  display: block;
  .border-radius(0, 5px, 5px, 0);
  padding: 15px 0;
  border-bottom: solid 3px darken(@primary-color-dark, 5%);
  .gradient(@primary-color, @primary-color, lighten(@primary-color-dark, 10%));
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: darken(white, 10%);
  text-shadow: 0 -1px 0 darken(@primary-color-dark, 5%);
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.no-touch article .call-to-action a:hover {
  color: white;
  border-bottom: solid 3px darken(@primary-color-dark, 3%);
  .gradient(@primary-color, @primary-color, lighten(@primary-color-dark, 15%));
}

article .call-to-action a:active {
  border-bottom: solid 3px darken(@primary-color-dark, 3%);
  .gradient(@primary-color, darken(@primary-color, 5%), lighten(@primary-color, 10%));
}

.article a:link,
.article a:visited {
  color: @white;
  text-decoration: none;
  display: block;
  width: 100%;
}

.articles.speakers a,
.article .picture a {
  text-align: center;
}

.speakers .article {
  .transition(all 0.15s ease-out 0);
  cursor: pointer;
}

.no-touch .speakers .article:hover {
  background: @dark;
  border-color: lighten(@dark, 10%);
}

.speakers .article:active {
  background: @black;
  border-color: @dark;
  opacity: 0.8;
  .transition(none);
}

.speakers .article:active a {
  color: darken(@white, 40%);
}

.lead {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 22px;
  line-height: 36px;
  font-weight: 200;
}

.lead img {
  float: left;
  margin: 0 20px 20px 0;
}

.youtube {
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}

.youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.twitter {
  text-align: center;
}

.twitter i.twitter {
  background-image: url(/twitter-icon.png);
  background-size: cover;
  background-position: center center;
  width: 35px;
  height: 29px;
  margin-right: 10px;
  float: left;
  display: block;
  margin-top: -5px;
}

.twitter i.icon-sweden,
.twitter i.icon-sri_lanka,
.twitter i.icon-america {
  background-size: cover;
  background-position: center center;
  width: 29px;
  height: 29px;
  margin-right: 10px;
  float: left;
  display: block;
  margin-top: -5px;
  .border-radius(50%, 50%, 50%, 50%);
}


.twitter i.icon-sweden {
  background-image: url(/sweden.gif);
}

.twitter i.icon-sri_lanka {
  background-image: url(/sri_lanka.gif);
}

.twitter i.icon-america {
  background-image: url(/usa.gif);
}

.twitter span,
.twitter a {
  margin: 5px;
  display: inline-block;
  padding: 20px 20px 15px;
  border: solid 2px lighten(@dark, 30%);
  background: @dark;
  text-decoration: none;
  color: white;
  .transition(all 0.15s ease-out 0);
  .border-radius(40px, 40px, 40px, 40px);
}

.no-touch .twitter a:hover {
  color: @white;
  background: lighten(@dark, 10%);
  border-color: @white;
}

.twitter a:active {
  opacity: 0.8;
  color: darken(@white, 40%);
  background: @black;
  border-color: darken(@white, 60%);
  .transition(none);
}

.visitors .article {
  color: #999;
}

.visitors .article.shoe h2 {
  font-size: 36px;
  margin-bottom: 5px;
}

.visitors .data,
.visitors .name {
  color: #333;
}

.article.presentedby h3 {
  max-width: 200px;
  margin: 0 auto;
  font-size: 22px;
}

.article.presentedby li {
  margin: 20px 0 0;
}

.article.presentedby li img {
  margin: 0;
  width: auto;
}

.front h1 {
  font-size: 42px;
  margin: 0 0 40px;
}

.wide .right .logo,
.front .right .logo {
  display: none;
  position: absolute;
  z-index: 1;
  max-height: 150px;
  top: 50%;
  left: 50%;
  margin-left: -189px;
  margin-top: -50px;
}

.wide .right,
.front .right {
  width: 100%;
  position: static;
  height: auto;
  margin-top: 0;
  padding-bottom: 0;
  max-height: 550px;
}

.wide .top-banner {
  padding-top: 100px;
}

.wide .top-banner h1 {
  padding-top: 50px;
}

.wide .right .logo,
.front .right .logo {
  display: block;
}

.wide .left,
.front .left {
  width: 100%;
  padding: 0;
}

.wide .left .logo,
.front .left .logo {
  display: none;
}

.front h1 {
  font-size: 42px;
}

.wide .left .container,
.front .left .container {
  padding-top: 40px;
}

.wide .left .page-row .inner,
.front .left .page-row .inner {
  max-width: 100%;
  margin: 0 auto;
}

.wide .left .page-row-expanded .inner,
.front .left .page-row-expanded .inner {
  max-width: 800px;
  margin: 0 auto;
}

.block {
  margin: 150px 0;
}

.small-block {
  margin-bottom: 50px;
}

.block.first {
  margin-top: 0;
}

.features li {
  font-size: 18px;
  font-weight: 200;
  padding: 0 0 20px 30px;
  color: darken(@white, 30%);
  clear: left;
}

.features li:before {
  content: ' ';
  display: block;
  float: left;
  background-image: url(/checkbox.png);
  background-size: cover;
  width: 25px;
  height: 25px;
  margin-left: -30px;
}

.login-display-name {
  text-align: center;
  padding: 5px;
}

.add-event,
.login-button {
  outline: none;
  text-align: center;
  border: solid 2px darken(@white, 30%);
  background: @dark;
  color: darken(@white, 20%);
  text-transform: uppercase;
  font-size: 16px;
  max-width: 200px;
  margin: 0 auto 20px;
  padding: 5px 0;
  cursor: pointer;
  .border-radius(20px, 20px, 20px, 20px);
  .transition(all 0.15s ease-out 0);
}

.no-touch .add-event:hover,
.no-touch .login-button:hover {
  background: lighten(@dark, 15%);
  color: darken(@white, 10%);
  border-color: darken(@white, 20%);
}

.add-event.selected,
.add-event:active,
.login-button:active {
  background: darken(@dark, 5%);
  color: darken(@white, 40%);
  border-color: darken(@white, 70%);
  .transition(none);
}

.add-event.selected {
  cursor: default;
}

.login-image {
  display: none;
}

.add-event {
  padding: 10px 15px;
  max-width: none;
  margin: 0 0 20px;
}

.thumb {
  display: block;
  float: left;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  background-color: lighten(@dark, 10%);
  background-position: center center;
  background-size: cover;
  .border-radius(50%, 50%, 50%, 50%);
}

.schedule {
  padding: 0;
}

.schedule .item {
  background: @dark;
  margin: 0;
  margin-bottom: 20px;
  padding: 20px;
  .transition(all 0.5s ease-out 0);
}

.schedule h3 {
  text-align: left;
  padding: 20px;
  margin: -20px;
  font-weight: 700;
  margin-bottom: 20px;
  background: lighten(@dark, 10%);
  max-width: none;
  .transition(all 0.5s ease-out 0);
}

.schedule .time {
  float: right;
  width: 20%;
  max-width: 60px;
  font-weight: 700;
  background: lighten(@dark, 20%);
  padding: 20px;
  margin: -20px;
  margin-left: 20px;
  text-align: center;
  .transition(all 0.5s ease-out 0);
}

.schedule p {
  font-size: 16px;
  color: darken(@white, 30%);
  .transition(all 0.5s ease-out 0);
}

.schedule .profile {
  margin-left: 0;
  margin-right: 10px;
}

.schedule .group {
  background: lighten(@dark, 5%);
  padding: 10px 20px;
  margin: 0 0 10px 0;
  .transition(all 0.5s ease-out 0);
}

.schedule .group .name {
  background: lighten(@dark, 10%);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  color: darken(@white, 10%);
  padding: 10px 20px;
  margin: -10px -20px 20px;
  .transition(all 0.5s ease-out 0);
}

.schedule .group .name a {
  color: white;
  text-decoration: none;
}

.schedule .group .name .count {
  float: right;
}

.schedule .group p {
  padding-bottom: 0;
}

.schedule .group .members i {
  margin: 0 8px 8px -2px;
  border: solid 2px transparent;
  .transition(all 0.5s ease-out 0);
}

.schedule .group .members i:hover {
  border-color: white;
}

.schedule .item.now {
  background: darken(@link-color, 35%);
  color: darken(@white, 40%);
}

.schedule .item.now p {
  color: lighten(@link-color, 20%);
}

.schedule .item.now h3 {
  background: darken(@link-color, 30%);
  color: @white;
}

.schedule .item.now .time {
  background: darken(@link-color, 40%);
}

.schedule .item.now .group {
  background: darken(@link-color, 30%);
}

.schedule .item.now .group .name {
  background: darken(@link-color, 40%);
  color: @white;
}

.schedule .item.passed .time {
  background: darken(@dark, 7%);
  color: lighten(@dark, 20%);
}

.schedule .item.passed {
  background: darken(@dark, 5%);
  color: darken(@white, 40%);
}

.schedule .item.passed p {
  color: lighten(@dark, 10%);
}

.schedule .item.passed h3 {
  background: darken(@dark, 4%);
  color: lighten(@dark, 15%);
}

.schedule .item.passed .group {
  background: darken(@dark, 3%);
}

.schedule .item.passed .group .name {
  background: darken(@dark, 1%);
  color: lighten(@dark, 15%);
}

.schedule .item.passed .group .members i,
.schedule .item.passed .profile {
  .opacity(0.25);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
}

a.btn {
  white-space: nowrap;
  padding: 6px 12px;
  background: lighten(@primary-color, 20%);
  .border-radius(4px, 4px, 4px, 4px);
  color: darken(@white, 15%);
  text-decoration: none;
  font-weight: 700;
  box-shadow: 0 2px 0 lighten(@primary-color-dark, 8%);
}

a.btn:hover {
  color: white !important;
  background: lighten(@primary-color, 23%);
}

a.btn:active {
  color: white;
  box-shadow: none;
  .transform(translate(0px, 2px));
}

.schedule .rsvp {
  margin: -5px -5px 45px 0;
  float: right;
}

.schedule .item.now .rsvp,
.schedule .item.passed .rsvp {
  display: none;
}

header a.site-logo {
  padding-bottom: 26px;
}

@media screen and (max-width: 1380px) {
  .hide-mobile {
    display: none;
  }

  .show-mobile {
    display: block;
  }
}

@media screen and (max-width: 1300px) {
  .left .page-row-expanded .inner {
    max-width: 800px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1100px) {
  .right {
    width: 100%;
    position: static;
    height: auto;
    margin-top: 100px;
    padding-bottom: 0;
    max-height: 450px;
  }

  .no-map-mobile #map_canvas {
    display: none;
  }

  #map_canvas {
    height: 0;
    padding-bottom: 70%;
  }

  .fullscreen .right {
    overflow: visible;
  }

  .fullscreen .container {
    position: relative;
  }

  .fullscreen #map_canvas {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 9;
  }

  .fullscreen .map-header .close {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 32px;
    height: 32px;
  }

  .no-touch .fullscreen .map-header .close:hover {
    .opacity(0.5);
  }

  .map-header {
    display: none;
  }

  .fullscreen .map-header {
    display: block;
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: white;
    z-index: 10;
    box-sizing: border-box;
    padding: 10px;
  }

  .fullscreen .map-header h3 {
    display: block;
    float: none;
    text-align: left;
    margin-left: 3px;
    margin-top: 10px;
  }

  .map-header label {
    margin: 3px;
  }

  .frame .right {
    display: none;
  }

  .left,
  .reverse .left {
    width: 100%;
    padding: 0;
  }

  .left .container {
    padding-top: 40px;
  }

  .left .page-row-expanded .inner {
    max-width: 800px;
    margin: 0 auto;
  }

  .main,
  .main .container,
  .main .container .left {
    height: auto;
  }

  .frame .main,
  .frame .main .container,
  .frame .main .container .left {
    height: 100%;
  }

  .desktop footer.red,
  .mobile footer.red {
    overflow: hidden;
    margin: 0 -40px;
  }
}

@media screen and (max-width: 800px) {
  .front h1 {
    font-size: 36px;
  }

  .front .right .logo {
    max-height: 100px;
    margin-left: -126px;
    margin-top: -25px;
  }
}

@media screen and (max-width: 640px) {
  header,
  .left .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .front h1 {
    margin: 0 0 20px;
  }

  .top-banner h1 {
    font-size: 60px;
    line-height: 60px;
  }

  footer.dark {
    margin: 0 -20px;
    padding: 0 20px;
  }

  article .call-to-action,
  .articles .promotion,
  .articles .article {
    margin-left: 0;
    margin-right: 0;
  }

  .nav-button {
    right: 0;
  }

  .mobile .articles article {
    width: 100%;
    float: none;
  }

  .show-mobile {
    display: block;
  }

  .hide-mobile {
    display: none;
  }

  .desktop footer.red,
  .mobile footer.red {
    margin: 0 -20px;
  }

  .mobile .cols {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}

@media screen and (max-width: 520px) {
  .front h1,
  h1 {
    font-size: 28px;
    margin-bottom: 5px;
  }

  h2 {
    font-size: 20px;
    font-weight: 400;
  }

  .speaker .speaker-inner {
    width: 120px;
  }

  .sponsor .sponsor-inner {
    width: 70px;
    vertical-align: top;
  }

  .profile .profile-inner {
    width: 50px;
    margin: 0 3px;
  }

  .profile .profile-inner img {
    width: 40px;
    height: auto;
  }

  .profile .twitter {
    display: none;
  }

  .block {
    margin: 80px 0;
  }

  .features li,
  .inner .front p {
    font-size: 18px;
    line-height: 28px;
    color: darken(@white, 30%);
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .inner .front p {
    background: darken(@dark, 0%);
    padding: 10px;
    .border-radius(5px, 5px, 5px, 5px);
  }

  .article h2 {
    font-size: 28px;
  }

  .article h3 {
    font-size: 18px;
  }

  .schedule {
    margin: 0 -15px;
  }

  .schedule .item {
    padding: 15px;
  }

  .schedule h3 {
    font-size: 15px;
    padding: 15px;
    margin: -15px -15px 15px;
    padding-right: 80px;
    position: relative;
  }

  .schedule .time {
    float: none;
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    top: 0;
    right: 0;
    width: 68px;
    max-width: 68px;
    display: block;
    text-align: center;
    padding: 15px 15px 0;
    vertical-align: middle;
    height: 100%;
    font-size: 15px;
  }

  .schedule p {
    font-size: 14px;
    line-height: 20px;
  }

  .schedule .group {
    padding: 10px 15px;
    margin: 0 0 10px 0
  }

  .schedule .group .name {
    padding: 10px 15px;
    margin: -10px -15px 15px;
  }

  .schedule .group .who {
    display: none;
  }

  img.profile {
    width: 80px;
    margin: 0 15px 0 0;
  }

  .lead {
    font-size: 15px;
    line-height: 24px;
  }

  .twitter span,
  .twitter a {
    padding: 10px;
    font-size: 13px;
    line-height: 20px;
  }

  .twitter i.twitter {
    width: 25px;
    height: 20px;
    margin-top: 0;
  }

  .twitter i[class^="icon"] {
    width: 20px;
    height: 20px;
    margin-top: 0;
  }

  .small-block {
    margin-bottom: 30px;
  }

  .mobile .countdown-caption {
    font-size: 12px;
  }

  .mobile .countdown-value {
    font-size: 52px;
    height: 60px;
    line-height: 60px;
  }

  .hide-thin {
    display: none;
  }

  .mobile .table th,
  .mobile .table td {
    padding: 5px 5px 5px 8px;
    font-size: 12px;
    line-height: 24px;
  }

  footer.sponsors {
    margin-top: 0;
  }

  .sponsor .name {
    font-size: 14px;
    color: darken(@white, 80%);
  }

  .front h1 {
    margin: 0 0 30px;
  }

  .schedule .rsvp {
    margin: -5px -5px 47px 0;
  }
}

@media screen and (max-width: 400px) {
  .nav-button p {
    display: none;
  }

  .features li,
  .inner .front p {
    font-size: 17px;
    line-height: 22px;
  }

  .top-banner h1 {
    font-size: 40px;
    line-height: 40px;
  }

  .front .right .logo {
    max-height: 76px;
    margin-left: -96px;
    margin-top: 0;
  }

  header a.site-logo {
    padding-top: 5px;
    padding-bottom: 11px;
  }

  header .logo img {
    height: 34px;
  }

  header {
    height: 50px;
    line-height: 50px;
  }

  .reponsive-size-adjust {
    height: 50px;
  }

  .right {
    margin-top: 50px;
  }

  .nav-button {
    top: 0;
    padding-top: 4px;
    padding-bottom: 4px;
  }

  a.btn {
    padding: 6px 8px;
  }

  .rsvp .join {
    display: none;
  }
}
