<template name="front">
  <div class="front">
    <div class="logo">
      <img class="logo" src="logo-highres.png" alt="Sävedalsloppet">
    </div>
    {{#with countdown '2014-10-15T19:00+0200'}}
    <div class="block first tc">
      <h1>Get to know the Nordic Meteor community</h1>
      <h2>Meetups in the Nordic region get together for a Google Hangout on Air</h2>
      <aside class="countdown with-time no-minutes" id="countdown">
        {{#if hasStarted}}
        <div class="countdown-item countdown-live">
          <span class="countdown-caption countdown-caption-live">THE STREAMING IS NOW</span>
          <span class="countdown-value countdown-value-days tc">
            <a href="/livestream">On AIR</a>
          </span>
        </div>
        {{else}}
        {{#if days}}
      	<div class="countdown-item countdown-days">
      		<span class="countdown-caption countdown-caption-days">Days</span>
      		<span class="countdown-value countdown-value-days">
      			{{xx days}}
      		</span>
      	</div>
      	<div class="countdown-item countdown-hours">
      		<span class="countdown-caption countdown-caption-hours">Hours</span>
      		<span class="countdown-value countdown-value-hours">
      			{{xx hours}}
      		</span>
      	</div>
        {{else}}
        {{#if hours}}
        <div class="countdown-item countdown-hours">
          <span class="countdown-caption countdown-caption-hours">Hours</span>
          <span class="countdown-value countdown-value-hours">
            {{xx hours}}
          </span>
        </div>
        {{/if}}
        {{/if}}
      	<div class="countdown-item countdown-minutes">
      		<span class="countdown-caption countdown-caption-minutes">Minutes</span>
      		<span class="countdown-value countdown-value-minutes">
      			{{xx minutes}}
      		</span>
      	</div>
      	<div class="countdown-item countdown-seconds">
      		<span class="countdown-caption countdown-caption-seconds">Seconds</span>
      		<span class="countdown-value countdown-value-seconds">
      			{{xx seconds}}
      		</span>
      	</div>
        {{/if}}
      </aside>
      {{#if isAboutToStart}}
      <p>Meteor Nordic Meetup for 2014 is about to start, <a href="/livestream">join the livestream.</a></p>
      {{else}}
      {{#if hasStarted}}
      <p>Meteor Nordic Meetup for 2014 has started, <a href="/livestream">join the livestream.</a></p>
      {{else}}
      <p><a href="/about">Read about Meteor Nordic Meetup</a> destined for October 15 2014 at 19:00 CET.</p>
      {{/if}}
      {{/if}}
    </div>
    <div class="block tc">
      <h2>Meet the experts from the community</h2>
      <div class="speakers">
        {{#each ../speakers}}<a href="/speakers/{{url_name}}" class="speaker">
          <span class="speaker-inner">
            <img src="{{image}}" alt="{{full_name}}" target="_blank">
            <span class="name">{{name}}</span>
            <span class="twitter">@{{twitter_handle}}</span>
            <span class="company">{{company_short}}</span>
          </span>
        </a>{{/each}}
      </div>
      <p><a href="/speakers">See all speakers</a> for Meteor Nordic Meetup.</p>
    </div>
    <div class="block">
      <div class="articles clearfix">
        <article>
          <div class="article promotion">
            <h3 class="tc">What is Meteor?</h3>
            <ul class="features">
              <li>A Node.js framework and build-tool for better web and apps development.</li>
              <li>Simple, Powerful, Flexible, Reactive and Time-saving is only the beginning.</li>
            </ul>
          </div>
        </article>
        <article>
          <div class="article promotion">
            <h3 class="tc">Who can come?</h3>
            <ul class="features">
              <li>Creative people who like building things.</li>
              <li>Do you like JavaScript? This is all about JavaScript on both server and client.</li>
            </ul>
          </div>
        </article>
        <article>
          <div class="article promotion">
            <h3 class="tc">Should I go?</h3>
            <ul class="features">
              <li>Get inspiration for your company or product in Meteor.</li>
              <li>Learn from other Meteorites experience using Meteor.</li>
            </ul>
          </div>
        </article>
        <article>
          <div class="article promotion">
            <h3 class="tc">Should I watch?</h3>
            <ul class="features">
              <li>Ask questions to experts in the Meteor community.</li>
              <li>Learn how to optimize CPU for your app like a professional.</li>
            </ul>
          </div>
        </article>
      </div>
      <div class="articles clearfix">
        {{#unless hasStarted}}
        <article>
          <div class="article super">
            <div class="map" style="background-image:url(/map.png);"><a href="/about"></a></div>
          </div>
          <div class="call-to-action">
            <a href="/about">Join a Meetup</a>
          </div>
        </article>
        {{else}}
        <article>
          <div class="article super">
            <h2><a href="/livestream">{{../viewers}}</a></h2>
            <h3><a href="/livestream">viewers</a></h3>
          </div>
          <div class="call-to-action">
            <a href="/livestream">View Livestream</a>
          </div>
        </article>
        {{/unless}}
        {{#unless hasStarted}}
        <article>
          <div class="article super">
            <h2><a href="/attendees">{{../count}}</a></h2>
            <h3><a href="/attendees">is going</a></h3>
          </div>
          <div class="call-to-action">
            <a href="/attendees">See who's going</a>
          </div>
        </article>
        {{else}}
        <article>
          <div class="article super">
            <h2><a href="/attendees">{{../count}}</a></h2>
            <h3><a href="/attendees">attendees</a></h3>
          </div>
          <div class="call-to-action">
            <a href="/attendees">See attendees</a>
          </div>
        </article>
        {{/unless}}
      </div>
    </div>
    {{else}}

    {{/with}}
  </div>
</template>
