<template name="page">
  <div class="container clearfix">
    <div class="page-row page-row-expanded">
      <div class="inner">
        {{> yield region='page'}}
      </div>
    </div>

    <div class="page-row">
      {{> footer}}
    </div>
  </div>
</template>
