<template name="footer">
  <footer>
    <div class="inner clearfix">
      <h3>Thanks to our amazing sponsors</h3>
      <div class="sponsors clearfix"><a href="http://findwise.com" class="sponsor" title="Findwise" target="_blank">
          <span class="sponsor-inner">
            <img src="/findwise.png" alt="Findwise">
            <span class="name">Findwise</span>
          </span>
        </a><a href="http://studiointeract.com" class="sponsor" title="Studio Interact" target="_blank">
          <span class="sponsor-inner">
            <img src="/studiointeract.png" alt="Studio Interact">
            <span class="name">Studio Interact</span>
          </span>
        </a><a href="http://www.wizonesolutions.com" class="sponsor" title="WizOne Solutions" target="_blank">
          <span class="sponsor-inner">
            <img src="/wizonesolutions.png" alt="WizOne Solutions">
            <span class="name">WizOne Solutions</span>
          </span>
        </a><a href="http://www.systorvest.no/" class="sponsor" title="Systor Vest" target="_blank">
          <span class="sponsor-inner">
            <img src="/systorvest.png" alt="Systor Vest">
            <span class="name">Systor Vest</span>
          </span>
        </a><a href="http://www.twitter.com/devkittens" class="sponsor" title="Devkittens" target="_blank">
          <span class="sponsor-inner">
            <img src="/devkittens.png" alt="Devkittens">
            <span class="name">Devkittens</span>
          </span>
        </a><a href="https://www.greenqloud.com/" class="sponsor" title="GreenQloud" target="_blank">
          <span class="sponsor-inner">
            <img src="/greenqloud.png" alt="GreenQloud">
            <span class="name">GreenQloud</span>
          </span>
        </a></div>
    </div>
  </footer>
  <footer class="dark">
    <div class="inner clearfix">
      <h3>We made this possible</h3>
      <div class="profiles clearfix"><a href="http://timbrandin.com" class="profile" title="Tim Brandin is hosting in Göteborg and is managing the website" target="_blank">
          <span class="profile-inner">
            <img src="/timbrandin.png" alt="Tim Brandin">
            <span class="name">Tim Brandin</span>
            <span class="twitter">@timbrandin</span>
          </span>
        </a><a href="https://twitter.com/rteslaru" class="profile" title="Razvan Teslaru is hosting a meetup in Stockholm" target="_blank">
          <span class="profile-inner">
            <img src="/razvanteslaru.png" alt="Razvan Teslaru">
            <span class="name">Razvan Teslaru</span>
            <span class="twitter">@rteslaru</span>
          </span>
        </a><a href="https://twitter.com/wizonesolutions" class="profile" title="Kevin Kaland is hosting two meetups in Norway" target="_blank">
          <span class="profile-inner">
            <img src="/kevinkaland.png" alt="Kevin Kaland">
            <span class="name">Kevin Kaland</span>
            <span class="twitter">@wizonesolutions</span>
          </span>
        </a><a href="https://twitter.com/berg_tobias" class="profile" title="Tobias Berg is helping out in Göteborg" target="_blank">
          <span class="profile-inner">
            <img src="/tobiasberg.png" alt="Tobias Berg">
            <span class="name">Tobias Berg</span>
            <span class="twitter">@berg_tobias</span>
          </span>
        </a><a href="https://twitter.com/rdickert" class="profile" title="Robert Dickert is helping out with the panel discussion" target="_blank">
          <span class="profile-inner">
            <img src="/robertdickert.png" alt="Robert Dickert">
            <span class="name">Robert Dickert</span>
            <span class="twitter">@rdickert</span>
          </span>
        </a><a href="https://twitter.com/sebilves" class="profile" title="Sebastian Ilves is helping out in Göteborg" target="_blank">
          <span class="profile-inner">
            <img src="/sebilves.png" alt="Sebastian Ilves">
            <span class="name">Sebastian Ilves</span>
            <span class="twitter">@sebilves</span>
          </span>
        </a></div>
        <!-- <a href="https://twitter.com/pavel_kurnosov" class="profile" title="Pavel Kurnosov" target="_blank">
          <span class="profile-inner">
            <img src="/pavelkurnosov.png" alt="Pavel Kurnosov">
            <span class="name">Pavel Kurnosov</span>
            <span class="twitter">@pavel_kurnosov</span>
          </span>
        </a> -->
    </div>
  </footer>
</template>
