<template name="front-banner">
  <div class="image">
    <img class="logo" src="/logo-highres.png" alt="Meteor Nordic Meetup">
    <div class="image-background" style="background-image: url({{image}});"></div>
    <div class="reponsive-size-adjust"></div>
  </div>
</template>
