<template name="top-banner">
  <div class="top-banner image">
    <h1>{{title}}</h1>
    {{#if company}}
    <div class="company">
      {{#if company_url}}
      <a href="{{company_url}}" target="_blank" rel="nofollow">{{company}}</a>
      {{else}}
      <span>{{company}}</span>
      {{/if}}
    </div>
    {{/if}}
    <div class="image-background" style="background-image: url({{image}});"></div>
    <div class="reponsive-size-adjust"></div>
  </div>
</template>
