<template name="about">
  <h1>Wednesday October 15</h1>
  <h2>Join the Meteor community in October for Meteor Nordic Meetup</h2>
  <div class="small-block cols">
    <p class="block">
      <strong>Meteor Nordic Meetup</strong>
      The Nordic gathering of Meetups going Live together on Google Hangout on Air, and joining in Meteor experts from the world to answer your questions.
    </p>
    <p class="block">
      <strong>Watch the Google Hangout live</strong>
      We have created an event on Google plus, for you to <a href="/livestream">watch the Google Hangout on Air</a> if you can't make it, the livestream starts at 7:00pm (CET).
    </p>
    <p class="block">
      <strong>Q&A &mdash; How to ask questions</strong>
      When you have opened the Google Hangout on Air, there is a panel on the right. In the top of the panel there is a form - where you can add your questions to the speakers.
    </p>
    <p class="block">
      <strong>Attend a Meteor Nordic Meetup</strong>
      It's easy &mdash; you need to join a Meetup group near you and RSVP their event, you can find groups in the map and events down below in the list.
    </p>
    <p class="block">
      <strong>Get in touch</strong>
      Tim is avaliable for any questions or suggestions regarding the Nordic Meteor Meetups.
      You can reach me on <a href="mailto:tim.brandin@studiointeract.com">tim.brandin@studiointeract.com</a>.
      For other questions you can always get in touch with the Meetup Group captains.
    </p>
  </div>

  <div class="small-block">
    <h2>Meteor Nordic Meetups</h2>
    <p class="tc">This list updates every hour from <a href="http://meetup.com" rel="nofollow">Meetup.com</a>.</p>
    <table class="table">
      <thead>
        <tr>
          <th class="small">
            Group
          </th>
          {{#unless hideMobile}}
          <th class="medium">
            Country
          </th>
          {{/unless}}
          {{#unless hideThin}}
          <th class="tiny tc">
            Members
          </th>
          <th class="tiny tc">
            Time
          </th>
          {{/unless}}
          <th class="small tc">
            Going
          </th>
          <th class="small tc">
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each entities}}
        <tr>
          <td class="medium">
            <a href="{{event_url}}" target="_blank" rel="nofollow">{{group.name}}</a>
          </td>
          {{#unless hideMobile}}
          <td class="medium">
            {{country}}
          </td>
          {{/unless}}
          {{#unless hideThin}}
          <td class="tiny tc">
            {{group.members}}
          </td>
          <td class="tiny tc">
            {{formatTime}} {{timezone}}
          </td>
          {{/unless}}
          <td class="small tc infospans">
            <a href="/attendees#{{group.urlname}}"><span title="{{yes_rsvp_count}} {{group.who}} has said they're going.">{{yes_rsvp_count}}</span></a>{{#if rsvp_limit}}/<span title="The limit for this event is at {{rsvp_limit}} {{group.who}}.">{{rsvp_limit}}</span>{{/if}}
            {{#if waitlist_count}}<span title="{{waitlist_count}} {{group.who}} are in the waitlist.">+{{waitlist_count}}</span>
            {{/if}}
          </td>
          <td class="small tc">
            {{#unless waitlist_count}}
            <a href="{{group.link}}quick_join/?eventId={{_id}}&joinFrom=event&response=3" target="_blank" class="btn rsvp"><span class="join">Join and </span>RSVP</a>
            {{/unless}}
          </td>
        </tr>
        {{/each}}
        {{#if count}}
        <tr>
          <td colspan="6" class="tc">
            {{getPublishedCount 'regs'}} attendees
          </td>
        </tr>
        {{/if}}
      </tbody>
    </table>
  </div>

  <div class="small-block">
    {{#if currentUser}}
      {{#with myEvents}}
      <h2>Your qualifying Meetup events</h2>
      <p class="tc">Select the event you want to add.</p>
      <ul>
        {{#each myEvents}}
        <li class="tc"><button {{selected}}>{{name}}</button></li>
        {{/each}}
      </ul>

      {{else}}
      <h2>We couldn't find any Meetup event</h2>
      <p class="tc">Maybe you haven't said you're going Or the event your going to is not scheduled for October 15.</p>
      {{/with}}
      {{> loginButtons}}
      <p class="tc" style="max-width: 240px; margin: 0 auto;">If you stay signed in, your added events will keep updating every hour.</p>
    {{else}}
    <h2>Add your Meetup event</h2>
    <p class="tc">Sign in to see your upcoming Meetup events.</p>
    {{> loginButtons}}
    {{/if}}
  </div>
</template>
