<template name="speakers">
  <h2>Who are the speakers?</h2>

  <div class="articles speakers clearfix">
    {{#each speakers}}
    {{> item}}
    {{/each}}
  </div>
</template>

<template name="item">
  <article>
    <div class="article">
      <div class="picture">
        <a href="/speakers/{{url_name}}"><img src="{{image}}" alt="{{full_name}}"></a>
      </div>
      <h2><a href="/speakers/{{url_name}}">{{name}}</a></h2>
      {{#if company}}
      <a href="/speakers/{{url_name}}">
        <span class="company">
          <span>{{company}}</span>
        </span>
      </a>
      {{/if}}
      <p><a href="/speakers/{{url_name}}">{{summary}}</a></p>
    </div>
  </article>
</template>
