<template name="navbar">
  <header>
    <a href="/" class="site-logo logo"><img src="/logo.png" alt="Sävedalsloppet" /></a>

    <nav class="navbar" role="navigation">
      <div class="nav-button">
        <p>Menu</p>
        <div class="stripes">
          <span class="stripe1"></span>
          <span class="stripe2"></span>
          <span class="stripe3"></span>
        </div>
      </div>
      <div class="desktop-nav">
        <ul>
          {{#each items}}
          <li {{active url}}><a href="{{url}}" {{attributes}}>{{name}}</a></li>
          {{/each}}
        </ul>
      </div>
    </nav>
    <div class="mobile-nav">
      <div class="region">
        <ul>
          {{#each items}}
          <li {{active url}}><a href="{{url}}" {{attributes}}>{{name}}</a></li>
          {{/each}}
        </ul>
      </div>
    </div>
  </header>
</template>
