<template name="schedule">
  <h1>Schedule</h1>
  <h2>The battleplan for the live event</h2>
  <p class="tc">Broadcast starts Wednesday October 15 2014, times are adjusted to your timezone.</p>

  <ol class="small-block schedule">
    {{#each items}}
    <li class="item" id="{{_id}}" {{attributes}}>
      <h3><span class="time">{{now}}</span> {{title}}</h3>
      <p>{{summary}}</p>
      {{#if people}}
      <div class="people">
        {{#each people}}
        <div class="profile">
          <img src="{{image}}" alt="{{name}}" title="{{name}}">
        </div>
        {{/each}}
      </div>
      {{/if}}
      {{#if group_presentation}}
      <div class="groups">
        {{#each groups}}
        <div class="group">
          <div class="name">
            <span class="count"><a href="/attendees#{{group.urlname}}">{{yes_rsvp_count}} <span class="who">{{group.who}}</span></a></span>
            <a href="{{event_url}}" target="_blank">{{group.name}}</a>
          </div>
          <p class="members clearfix">
            {{#unless waitlist_count}}
            <a href="{{group.link}}quick_join/?eventId={{_id}}&joinFrom=event&response=3" target="_blank" class="btn rsvp"><span class="join">Join and </span>RSVP</a>
            {{/unless}}
            {{#each members}}
            <a href="{{../group.link}}members/{{member.member_id}}/" target="_blank"><i class="thumb" style="background-image:url({{member_photo.thumb_link}})" title="{{member.name}}"></i></a>
            {{/each}}
          </p>
        </div>
        {{/each}}
      </div>
      {{/if}}
    </li>
    {{/each}}
  </ol>
</template>
