<template name="attendees">
  <div class="tc">
    <p>This list is updated once each hour from <a href="http://meetup.com" target="_blank" rel="nofollow">Meetup.com</a>.</p>
  </div>

  {{#each meetups}}
  <div class="small-block">
    <h2>{{name}}</h2>
    <h3>{{venue.city}}, {{country}}</h3>
    <table class="table" id="{{group.urlname}}">
      <thead>
        <tr>
          <th class="medium">{{group.who}}</th>
          <th class="small tc">RSVP</th>
        </tr>
      </thead>
      <tbody>
        {{#each regs}}
        <tr>
          <td class="medium">
            <i class="thumb" style="background-image:url({{member_photo.thumb_link}})"></i>
            {{member.name}}
            {{#if guests}}
            <span title="{{member.name}} is brining {{guests}} guest(s)">+{{guests}}</span>
            {{/if}}
          </td>
          <td class="small tc">
            {{calendarDateTz created ../group.timezone}}
          </td>
        </tr>
        {{else}}
        <tr>
          <td colspan="2" class="tc">
            Empty! You could be the first to sign up for this event!?
          </td>
        </tr>
        {{/each}}
        {{#unless waitlist_count}}
        <tr>
          <td colspan="2" class="tc">
            <a href="{{group.link}}quick_join/?eventId={{_id}}&joinFrom=event&response=3" target="_blank" class="btn rsvp"><span class="join">Join and </span>RSVP</a>
            for <a href="{{event_url}}" target="_blank" rel="nofollow">{{name}}</a>
          </td>
        </tr>
        {{/unless}}
        {{#if rsvp_limit}}
          {{#if waitlist_count}}
          <tr>
            <td colspan="2" class="tc">
              There is {{waitlist_count}} waiting for a spot, limit is at {{rsvp_limit}}.
            </td>
          </tr>
          {{else}}
          <tr>
            <td colspan="2" class="tc">
              There are {{remaining}} spots left, limit goes at {{rsvp_limit}}.
            </td>
          </tr>
          {{/if}}
        {{/if}}
        {{#if regs.count}}
        <tr>
          <td colspan="2" class="tc">
            {{regs.count}} <span style="text-transform:lowercase;">{{group.who}}</span>
            is attending at <a href="{{group.link}}" target="_blank" rel="nofollow">{{group.name}}</a>
          </td>
        </tr>
        {{/if}}
      </tbody>
    </table>
  </div>
  {{/each}}

</template>
