<template name="speaker">
  {{#with article}}
  <h2>All about {{title}} {{full_name}}</h2>

  <div class="small-block lead clearfix">
    <img src="{{image}}" class="profile"> {{summary}}
  </div>

  <div class="small-block twitter">
    <a href="https://twitter.com/{{twitter_handle}}" target="_blank" rel="nofollow"><i class="twitter"></i> @{{twitter_handle}}</a>
    <span><i class="icon-{{url_country}}"></i> {{time country}}</span>
  </div>

  <div class="small-block cols text-body">
    {{#markdown}}
    {{body}}
    {{/markdown}}
  </div>

  <div class="small-block youtube">
    <iframe width="560" height="315" src="//www.youtube.com/embed/{{youtube}}?autoplay=0&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
  </div>

  {{#if currentUser}}
  <div class="form">
    <input type="text" value="{{summary}}" style="width:100%">
    <textarea rows="5" style="width:100%">{{body}}</textarea>
  </div>
  {{/if}}

  {{/with}}
</template>
